<h1>Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-lg-4 mb-4">
        <div class="card" style="width: 18rem;">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top", style: "object-fit: cover" %>
          <% else %>
            <img src="https://www.liquor.com/thmb/WxxD8oIVqce14UZIRW4F2-vvhpU=/720x720/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__09__04153106__mojito-720x720-recipe-a55b114fc99c4a64b38c9ef6d1660e20.jpg">
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <%= link_to 'See Ingredients', cocktail, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
