<%# Based on url order /cocktails/:id/doses %>
<div class="container">
  <%= simple_form_for [@cocktail,@dose] do |f| %>
    <%= f.input :description, as: :text %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
